.hexArea {
  position: relative;
  height: 95%;
  padding: 3px;
  text-overflow: clip;
  overflow: auto;
  border: 1px solid #0F0F0F;
  color: #0F0F0F;
  font-family: "Lucida Console", "Courier New", Courier, monospace;
}
.bh {
  background: lightskyblue;
  border: 1px solid blue
}
.bca {
  background: lightpink;
  border: 1px solid red
}
.bfb {
  background: lightgreen;
  border: 1px solid green
}
.bc {
  background: lightyellow;
  border: 1px solid #501064
}
