.outlineArea {
  border: solid 1px #0F0F0F;
  margin: 0px;
  overflow-y: scroll;
  color: #0F0F0F;
  height: 95%
}
.detailArea {
  height: 95%;
  padding: 5px;
  white-space: pre;
  text-overflow: clip;
  overflow: auto;
  color: #0F0F0F;
  border: 1px solid #0F0F0F
}
.outln {
  height:40%; max-height:40%; width:100%
}